{
    "presets": [ "env", "stage-1", "react" ],
    "env": {
        "test": {
            "plugins": ["transform-es2015-modules-commonjs", "istanbul"]
        },
        "production": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}